/*Site styling*/

header.welcome {
    text-align: center;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
}

    header.welcome .intro-text {
        padding-top: 150px;
        padding-bottom: 200px;
        text-shadow: 3px 3px #5e5353;
    }

        header.welcome .intro-text .intro-lead-in {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
            color: #000000;
            font-family: 'Sen', sans-serif;
            text-shadow: 1px 1px #c4b5b5;
        }

        header.welcome .intro-text .intro-heading {
            font-size: 65px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
            font-family: 'Bree Serif', serif;
            letter-spacing: 3px;
        }


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.95;
}

/**Navbar**/
#mynavbar {
    border-radius: 0px;
    background: transparent;
    padding: 10px;
    font-size: 17px;
    font-family: 'Sen', sans-serif;
    font: bold;
}

/* logo or main heading */
#logo {
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    margin-left: 30px;
    letter-spacing: 2px;
}

/* black logo or main heading */
#logo2 {
    font-size: 30px;
    font-weight: bolder;
    color: darkgrey;
    margin-left: 30px;
    letter-spacing: 2px;
}





/* navigation link with right border */
#first-link {
    border-right: solid 1px #ccc;
}

/* sign up link button and toggle button */
#button-link {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: #fa6a48;
    line-height: 17px;
}

.navright {
    color: white;
}

.navright2 {
    color: darkorange;
}

#link li {
    margin-right: 10px;
}

.nav-link:hover {
    color: orange;
}

.nav-link2:hover {
    color: #545454;
}

#signup:hover {
    color: #524b4b
}

#aboutbody {
    padding: 10px;
    font-family: 'Sen', sans-serif;
    font-size: 14pt;
}

#aboutdiv {
    background-color: white;
}

#aboutbottom {
    font-size: 17pt;
    text-align: center;
    background-color: rgba(72, 146, 199, 0.75);
    padding: 10px;
}
